@import url("https://fonts.googleapis.com/css2?family=Anton&family=Ranchers&display=swap");

/* Custom Properties */
/* :root can be useful for declaring global CSS variables */
:root {
  --ff-primary: "Ranchers", cursive;
  --ff-secondary: "Anton", sans-serif;

  --fw-reg: 300;

  --clr-primary: #fe001f;
  --clr-secondary: #fcdc00;
  --clr-accent: #000;
  --clr-light: #00ecff;
  --clr-light-card: #fffffb;
  --clr-dark-card: #f5f5f5;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-light);
}

.main-container {
  display: flex;
  flex-direction: column;
  margin: 2.5vh;
}

.game-info-row1,
.game-info-row2,
.game-info-row3 {
  display: flex;
}

.game-info-row1 {
  justify-content: space-between;
}

.game-info-row2 {
  justify-content: center;
}

.game-info-row3 {
  justify-content: space-evenly;
}

.game-title {
  color: var(--clr-primary);
  text-shadow: -0.06em 0em 0em var(--clr-accent);
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: 1.25em;
}

.game-info {
  color: var(--clr-secondary);
  text-shadow: -0.06em 0.2em 0.2em var(--clr-accent);
  font-family: var(--ff-secondary);
  font-size: 0.75em;
}

.icon {
  font-size: 1.5em;
  margin: 0.5vw;
}

.cards {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(5, 14vw);
  grid-gap: 1vw;
  justify-content: center;
}

.card {
  position: relative;
  height: 10vh;
  width: 14vw;
}

.card-back {
  background: linear-gradient(
    to bottom,
    var(--clr-light-card) 0%,
    var(--clr-dark-card) 100%
  );
  transform: rotateY(0);
}

.card-face > img {
  height: 5vh;
}
.card-back > img {
  height: 4vh;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
  transition: transform 500ms ease-in-out;
  backface-visibility: hidden;
}

.card-back {
  background: linear-gradient(
    to bottom,
    var(--clr-light-card) 0%,
    var(--clr-dark-card) 100%
  );
  transform: rotateY(0);
}

.card-front {
  background-color: var(--clr-light-card);
  transform: rotateY(180deg);
}

.card-value {
  transform: scale(0.9);
  transition: transform 100ms ease-in-out;
}

.card.visible .card-back {
  transform: rotateY(-180deg);
}

.card.visible .card-front {
  transform: rotateY(0);
}

.card.matched .card-value {
  animation: dance 1s linear infinite 500ms;
}

.burger {
  align-self: center;
}

.overlay-text {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background-color 500ms, font-size 500ms;
  animation: overlay-grow 500ms forwards;
  color: var(--clr-secondary);
  font-family: var(--ff-secondary);
}

.overlay-text:hover {
  cursor: pointer;
}

@keyframes overlay-grow {
  from {
    background-color: rgba(0, 0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.8);
    font-size: 3.5em;
  }
}

.overlay-text--small {
  font-size: 0.3em;
}

.settings-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(25, 29, 27, 0.9);
  width: 50vw;
  height: 25vh;
  color: var(--clr-secondary);
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  border-radius: 10px;
  cursor: pointer;
}

.difficulty.selected {
  color: var(--clr-light-card);
}

.settings-button {
  background: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  border-radius: 5px;
  padding: 1px 15px 1px 15px;
  font: inherit;
  color: inherit;
  outline: inherit;
  margin: 5px;
}

@media (orientation: landscape) {
  .cards {
    grid-template-columns: repeat(10, 8vw);
    grid-gap: 1vw;
  }
  .card-face > img {
    height: 10vh;
  }
  .card-back > img {
    height: 8vh;
  }
  .card {
    height: 20vh;
    width: 8vw;
  }
  .settings-container {
    width: 35vw;
    height: 40vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .game-title {
    font-size: 2.25em;
  }
  .game-info {
    font-size: 2em;
  }
  .cards {
    grid-template-columns: repeat(5, 16vw);
    grid-gap: 1vw;
  }

  .card {
    height: 18vh;
    width: 16vw;
  }
  .card-face > img {
    height: 10vh;
  }
  .card-back > img {
    height: 8vh;
  }
  @keyframes overlay-grow {
    from {
      background-color: rgba(0, 0, 0, 0);
      font-size: 0;
    }
    to {
      background-color: rgba(0, 0, 0, 0.8);
      font-size: 9em;
    }
  }
  .settings-container {
    width: 40vw;
    height: 25vh;
    font-size: 1.75em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .settings-container {
    width: 30vw;
    height: 35vh;
  }
  .cards {
    grid-template-columns: repeat(10, 8vw);
    grid-gap: 1vw;
  }
  .card-face > img {
    height: 10vh;
  }
  .card-back > img {
    height: 8vh;
  }
  .card {
    height: 18vh;
    width: 8vw;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-height: 1200px) {
  .settings-container {
    width: 30vw;
    height: 20vh;
  }
  .cards {
    grid-template-columns: repeat(6, 14vw);
  }
  .card-face > img {
    height: 8vh;
  }
  .card-back > img {
    height: 6vh;
  }
  .card {
    height: 14vh;
    width: 14vw;
  }
}
